<%= content_for :head do%>
	<%= stylesheet_link_tag 'content'%>
<% end %>
	<div class="content">
		<div class="left">
			<h2><img src="images/content/messages_title.gif" /></h2>
			<img src="images/pic/yue.jpg" />
			<img src="images/content/service.gif" />
			<img src="images/pic/ad_01.jpg" />
			<img src="images/pic/contact.jpg" />
		</div>
		<div class="right">
			<h3 class="brand_concept">越摄影在线留言</h3>
			<div class="title"><img src="images/pic/yue_message.jpg" /></div>
			<div class="main">
				<ul class="option">
					<li>您的称呼：</li>
					<li>联系电话：</li>
					<li>QQ：</li>
					<li>邮箱：</li>
					<li>地址：</li>
					<li>留言主题：</li>
					<li>内容：</li>
				</ul>
				<ul class="text">
					<li><input name="" type="text" /></li>
					<li><input name="" type="text" /></li>
					<li><input name="" type="text" /></li>
					<li><input name="" type="text" /></li>
					<li><input name="" type="text" /></li>
					<li><input name="" type="text" /></li>
					<li><textarea name="" cols="" rows=""></textarea></li>
				</ul>
			</div>
		</div>
	</div>