<%= form_for(@album, :html => {:class => 'form-horizontal'}) do |f| %>

  <fieldset>
  <legend>填写相册信息</legend>
    <div class="control-group">
      <label class="control-label" for="input01">名称</label>
      <div class="controls">
        <%=f.text_field :name, :class => 'input-xlarge'%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">类型</label>
      <div class="controls">
        <%= f.select :category_id, [['艺术照', 1], ['婚纱照', 2]], :class => 'input-xlarge' %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">简介</label>
      <div class="controls">
        <%=f.text_area :description, :class => 'input-xlarge', :rows => 3%>
      </div>
    </div>
    
    <div class='form-actions'>
      <button class='btn btn-primary' type='submit'>保存</button>
    </div>
  </fieldset>
</form>
<% end -%>