<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Project name</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><%= link_to "zhao pian", admin_productions_path %>   </li>
          <li><%= link_to "messages", admin_messages_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
