<%=content_for :head do %>
	<title>越摄影 - 品牌理念</title>
	<meta content='为客户提供高质量的精美艺术照片和百分百的亲情服务，工作室是独具特色风格并且以外景拍摄为主，坚持着无虚价，无陷阱消费，私人造型师' name='description'>
	<%=stylesheet_link_tag 'content'%>
<% end%>
	<embed src='http://www.ichenbo.com/music/泰勒%20斯威夫特-Love%20Story%20%20.mp3' width='0' height='0' loop="true" autostart="true">
	<div class="content">
		<div class="left">
			<h2><img src="images/content/brand_concept_title.gif" /></h2>
			<img src="images/pic/yue.jpg" />
			<img src="images/content/service.gif" />
			<img src="images/pic/ad_01.jpg" />
			<img src="images/pic/contact.jpg" />
		</div>
		<div class="right">
			<h3 class="brand_concept">越摄影品牌理念</h3>
			<div class="title"><img src="images/pic/yue_brand_concept.jpg" /></div>
			<div class="container">
				<ul>
					<li><img src="images/pic/yue_s.jpg" />为打造大理第一高端婚纱摄影工作室而诞生，我们本着为客户提供高质量的精美艺术照片和百分百的亲情服务为宗旨，不断的完善自己的技术和服务内容、推陈出新，在保持自己的独特风格的基础上，满足顾客不同的审美需求，顾客的满意是我们全员工为之奋斗的目标！</li>
					<li><img src="images/pic/yue_s.jpg" />工作室是独具特色风格并且以外景拍摄为主，室内创新为一体的工作室，我们拥有着一群勇于创新的实力团队，拍摄风格自然而独具特色，我们不再是让您来配合我们拍摄，而是我们配合您来拍摄，为顾客实现价值，拍出真正属于您的独一无二的完美婚纱。</li>
					<li><img src="images/pic/yue_s.jpg" />坚持着无虚价，无陷阱消费，私人造型师，私人摄影师以及私人助理一对一全程精致拍摄服务的经营理念。在这里，我们所有样片均为客片，非模特和购买的样片，您能真正感受到私人造型师、私人摄影师、私人灯光师本着艺术人的挑剔和对美的独到见解为您打造属于您的时尚大片，刻画您永恒的幸福。</li>
					<li>在整个拍摄期间，您也不用再为化妆费用而烦恼，因为在这里化妆所用手工睫毛，定妆液以及全新化妆粉扑套装都是免费赠送给您的。您挑选照片时也不用再为多出来的片子烦恼，因为所有拍摄的底片我们都要制作精美光碟赠送给您。</li>
				</ul>
				<p>让您享受到越摄影最最精致的服务，享受最最时尚的视觉冲击，凝固您永恒的浪漫回忆，书写您不一样的完美人生！</p>
			</div>
		</div>
	</div>