<%= content_for :head do%>
	<%= stylesheet_link_tag 'content'%>
<% end %>
	<div class="content">
		<div class="left">
			<h2><img src="images/content/contact_title.gif" /></h2>
			<img src="images/pic/yue.jpg" />
			<img src="images/content/service.gif" />
			<img src="images/pic/ad_01.jpg" />
			<img src="images/pic/contact.jpg" />
		</div>
		<div class="right">
			<h3 class="brand_concept">联系越摄影</h3>
			<div class="title"><img src="images/pic/yue_contact.jpg" /></div>
			<div class="main">
				<ul>
					<li>1、推荐上门咨询：星期一至星期天早9：00—晚19：00</li>
					<li>2、QQ：370605998  623128611  179711408	   服务热线：13508726850  13312749322</li>
					<li>3、开户行：<p>建行 6227003950190020749<br />工行 6222022515000654637<br />农行 6228483340383147417<br />中行</p></li>
					<li>4、地址：云南省大理市大理古城红龙井16号</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="yue"></div>
		<div class="backToTop"><a><img src="images/reback.gif" /></a></div>
		<div class="more">
			<ul>
				<li class="phone"><img src="images/phone.gif" /></li>
				<li>地址：云南省大理市大理古城红龙井16号(AM9:00~PM19:00)</li>
				<li>QQ：370605998  623128611  179711408</li>
			</ul>
		</div>
	</div>     
