   <%= content_for :head do %>
   <link rel="stylesheet" href="stylesheets/pic.css" type="text/css" />
   <script src="javascripts/jquery-zzjs.js" type=text/javascript></script>
   <script src="javascripts/imgPlay.js" type=text/javascript></script>
   <script type="text/javascript" src="javascripts/jquery.history.js"></script>
   <script type="text/javascript" src="javascripts/jquery.galleriffic.js"></script>
   <script type="text/javascript" src="javascripts/jquery.opacityrollover.js"></script>
   	<script type="text/javascript" src="javascripts/pic.js"></script> 

	<% end %>
	<embed src='http://www.ichenbo.com/music/泰勒%20斯威夫特-Love%20Story%20%20.mp3' width='0' height='0' loop="true" autostart="true">
	<div class="content">
		<div class="banner">
			<DIV id=imgPlay>
				<UL class=imgs id=actor>
  					<LI><A><IMG src="images/banner/yue_1.jpg"></A></LI>
  					<LI><A><IMG src="images/banner/yue_2.jpg"></A></LI>
  					<LI><A><IMG src="images/banner/yue_3.jpg"></A></LI>
  					<LI><A><IMG src="images/banner/yue_4.jpg"></A></LI>
  					<LI><A><IMG src="images/banner/yue_5.jpg"></A></LI>
  					<LI><A><IMG src="images/banner/yue_6.jpg"></A></LI>
  				</UL>
			</DIV>
		</div>
				<div class="works">
		        	<div><img src="images/content/yue_works_top.gif" style='display:block'/></div>
					<ul>
						<% @albums.each do |album| %>
							<li>
								<%= link_to photos_path(:album_id => album.id) do %>
									<%= image_tag album.get_cover%>
									<span>
										<%= album.name%>
									</span>
									<% end -%>
								</li>
						<% end -%>
		            </ul>
		            <div><img src="images/content/yue_works_bottom.gif" style='display:block'/></div>
				</div>
		</div>