<%= content_for :head do%>
	<%= stylesheet_link_tag 'content'%>
<% end %>	
	<div class="content">
		<div class="left">
			<h2><img src="images/content/team_title.gif" /></h2>
			<img src="images/pic/yue.jpg" />
			<img src="images/content/service.gif" />
			<img src="images/pic/ad_01.jpg" />
			<img src="images/pic/contact.jpg" />
		</div>
		<div class="right">
			<h3 class="brand_concept">越摄影团队介绍</h3>
			<div class="title"><img src="images/pic/yue_team.jpg" /></div>
			<div class="container">
				<ul>
					<li><img src="images/pic/yue_s.jpg" />工作室是独具特色风格并且以外景拍摄为主，室内创新为一体的工作室，我们拥有着一群勇于创新的实力团队，拍摄风格自然而独具特色，我们不再是让您来配合我们拍摄，而是我们配合您来拍摄，为顾客实现价值，拍出真正属于您的独一无二的完美婚纱。</li>
					<li>信念：<p>因为我们热爱，所以我们乐此不疲！您的口碑就是我们最好的媒体！因为你们的支持，越摄影一定会走得更好更远我们始终相信：时尚易逝，风格永存！朋友，来吧，让我们缘结越摄影！</p></li>
					<p></p>
					<li><a>再次申明：</a><br />本网站所有片子都是我们摄影团队共同打造的原创作品，绝对没有下载图片及购买样片的弄虚作假行为。如有违背此承诺，愿以您所拍套系的10倍金额赔偿。所拍套系价格一次到位，无任何隐形消费，化妆所用手工睫毛，定妆液，卸妆液，保湿面膜，化妆粉扑精美套装以及拍摄的所有底片全都免费相送。外景免费配备舒适越野车，提供午餐。因我们走的是高端特色摄影路线，誓为每一对客人留住独一无二的经典瞬间，一组摄影队一天只服务一对客人，故所有套系都需提前3天以上预约，并交30%预约定金。</li>
					<li></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="yue"></div>
		<div class="backToTop"><a><img src="images/reback.gif" /></a></div>
		<div class="more">
			<ul>
				<li class="phone"><img src="images/phone.gif" /></li>
				<li>地址：云南省大理市大理古城红龙井16号(AM9:00~PM19:00)</li>
				<li>QQ：370605998  623128611  179711408</li>
			</ul>
		</div>
	</div>  