body {
	background-color: black;
}
.gallery {   
	position: relative;
	width: 1000px;
	margin: 0 auto;
}                 

.slide {
	padding: 20px 150px;
	overflow-x: hidden;
}                     

.prev {
	position: absolute;  
	width: 300px;    
	height: 100%;
	top: 0;
	left: 0;   
	z-index: 1000;
	opacity: 0.5;       
	font-size: 100px;    
	color: white;
	padding: 300px 0 0 0;  
	cursor: pointer;    
	opacity: 0.3;
}   

.prev span {
	padding: 30px;
}

.next {
	position: absolute;  
	width: 300px;    
	height: 100%;
	top: 0;
	right: 0;   
	z-index: 1000;
	opacity: 0.5;   
	font-size: 100px;      
	color: white;
	padding: 300px 0 0 0;   
	cursor: pointer;   
	opacity: 0.3;
}                       

.next span {
	padding: 0 0 0 200px;
}

