<%= content_for :head do%>
	<%= stylesheet_link_tag 'content'%>
<% end %>	
	<div class="content">
		<div class="left">
			<h2><img src="images/content/wedding_title.gif" /></h2>
			<ul>
				<li><a>婚照 1899套系</a></li>
				<li><a>婚照 2599套系</a></li>
				<li><a>婚照 3399套系</a></li>
				<li><a>婚照 3599套系</a></li>
				<li><a >婚照 4888套系</a></li>
				<li><a>婚照 5999套系</a></li>
				<li><a>婚照 6899套系</a></li>
				<li><a>婚照 8888套系</a></li>
				<li><a>婚照 9999套系</a></li>
				<li><a class="hover">婚照 19999套系</a></li>
			</ul>
			<img src="images/content/service.gif" />
			<img src="images/pic/ad_01.jpg" />
			<img src="images/pic/contact.jpg" />
		</div>
		<div class="right">
			<h3>199999 套系</h3>
			<div class="example">
				<span><img src="images/banner/pic_01.jpg" /></span>
				<span><img src="images/banner/pic_02.jpg" /></span>
				<span><img src="images/banner/pic_03.jpg" /></span>
				<span><img src="images/banner/pic_04.jpg" /></span>
			</div>
			<div class="main">
				<img src="images/content/introduction.gif" />
				<ul>
					<h4>拍摄服装：</h4>
					<li>提供新娘婚纱经典款拍摄1套，个性主题拍摄3套（活动期间赠送花样年华主题拍摄1套）</li>
				</ul>
				<ul>
					<h4>化妆造型：</h4>
					<li>私人造型师根据新娘独特气质设计完美造型5款</li>
				</ul>
				<ul>
					<h4>拍摄场景：</h4>
					<li>大理古城+苍山远景+季节性景点（也可自选景点）+温馨室内拍摄+风情岛外景拍摄+浪漫风车外景拍摄</li>
				</ul>
				<ul>
					<h4>拍摄时间：</h4>
					<li>大理美景，温馨室内拍摄1天+南诏风情岛外景，浪漫风车外景1天</li>
				</ul>
				<ul>
					<h4>特色服务：</h4>
					<li>私人造型师，私人摄影师，私人灯光师，私人助理全程一对一感动服务</li>
				</ul>
				<ul>
					<h4>所拍照片：</h4>
					<li>拍摄高清数码底片130张，精致数码光碟一张，所拍底片全送(精调精修56张)</li>
				</ul>
				<ul>
					<h4>产品赠送：</h4>
					<li>
						<p>24寸X36寸-1精美绝伦</p>
						<p>20寸X30寸-1春之恋</p>
						<p>特色条形框一个</p>
						<p>最新印象组合一组（含8X8三组相框）</p>
						<p>5寸X7寸-1情侣相架</p>
						<p>8寸X10寸-1精美烤瓷相架</p>
						18寸、12寸三合一精美烤瓷相册一套（18寸单本入册18张，雷蒙娜设计4张，合为9个跨页）封面，封底各一张（12寸单本入册18张，雷蒙娜设计4张，合为9个跨页）封面，封底各一张</li>
				</ul>
				<ul>
					<h4 class="tips">温馨提示：</h4>
					<li>所拍套系价格一次到位，无任何隐形消费，化妆所用手工睫毛，定妆液，卸妆液，保湿面膜，化妆粉扑精美套装以及拍摄的所有底片全都免费相送。外景免费配备舒适越野车，提供午餐。因我们走的是高端特色摄影路线，誓为每一对客人留住独一无二的经典瞬间，一组摄影队一天只服务一对客人，故所有套系都需提前3天以上预约，并交30%预约定金。</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="yue"></div>
		<div class="backToTop"><a><img src="images/reback.gif" /></a></div>
		<div class="more">
			<ul>
				<li class="phone"><img src="images/phone.gif" /></li>
				<li>地址：云南省大理市大理古城红龙井16号(AM9:00~PM19:00)</li>
				<li>QQ：370605998  623128611  179711408</li>
			</ul>
		</div>
	</div>