<%= content_for :head do %>
	<%= javascript_include_tag 'jquery.photo' %>
<% end -%>
<div class="content">
		<div class="left">
			<h2><img src="images/content/wedding_title.gif" /></h2>
			<ul>
				<li><a>写真套系</a></li>
				<li><a>经典婚纱</a></li>
				<li><a>客套经典</a></li>   
			</ul>
			<img src="images/content/service.gif" />
			<img src="images/pic/ad_01.jpg" />
			<img src="images/pic/contact.jpg" />
		</div>
		<div class="right">
			<h3> 经典</h3>
			<div class="work">
				<ul>     
					<% @photos.each do |p|%>
						<li><a><img src="<%= p.id2relative_path%>" width='168' height='112'/></a></li> 
					<% end %>  
				</ul>
			</div>
		</div>
	</div>