<html>
	<head>
		<%= stylesheet_link_tag 'photos/index'%>  
		<%= javascript_include_tag 'jquery-1.3.2'%>
		<%= javascript_include_tag 'gallery'%>
	</head>
	<body>
		<div class="gallery">
			<div class="slide"> 
				<%=image_tag '/images/photos/2222.jpg'%>
			</div>  
		  
		</div>  
		  <div class="prev">
				<span><</span>
			</div>     
			  <div class="next">
					<span>></span>
				</div>          
			
	</body>
</html>